footer {
	background-color: #f1f1f1;
	width: 320px;
	margin: 0 auto;
	margin-top: 40px;
}
.social__list {
	padding: 0;
	display: flex;
	justify-content: center;
	li {
		border-bottom: 1px solid #e5e5e5;
	}
}
.social__item {
	padding: 15px;
}
.exploited {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 22px;
	margin-bottom: 22px;
	span {
		font-weight: bolder;
		margin-right: 30px;
	}
}
.footer__logo {
	display: none;
}
@media screen and (min-width: 768px) {
	footer {
		width: 768px;
		display: flex;
		justify-content: space-between;
		padding-right: 50px;
		padding-left: 50px;
	}
	.footer__logo {
		display: block;
		display: flex;
		align-items: center;
		width: 174px;
	}
}
@media screen and (min-width: 1250px) {
	footer {
		width: 1250px;
		padding-right: 100px;
		padding-left: 100px;
	}
}
